{% extends "countrycapitalapp/base.html" %}
{% load static %}

{% block mytitle %}Country Info - Top 20 Population{% endblock mytitle %}

{% block mystyle %}
<link rel="stylesheet" href="{% static 'countrycapitalapp/css/home.css' %}">
{% endblock mystyle %}

{% block mybody %}
<div class="container">
    <h1>🌍 Top 20 Most Populated Countries</h1>
    {% comment %} Logo {% endcomment %}
    <div class="image-container">
        <img src="{% static '/images/logo.png' %}" alt="World" class="world-logo" height="100" width="100">
    </div>
    <div class="country-grid">
        {% for country in countries %}
            <div class="country-card">
                <a href="{{ country }}">{{ country|capfirst }}</a>
            </div>
        {% endfor %}
    </div>
</div>
<script src="{% static 'countrycapitalapp/js/script.js' %}"> </script>
{% endblock mybody %}

